/* -------------footer--------------- */
footer {
    background-color: #2a363b;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 20px;
}

.footerflex {
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}