@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Poppins:ital@0;1&family=Prompt&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* ----------------BODY   Y   NAV   VAR------------ */

body {
    background: linear-gradient(45deg, rgb(103, 37, 78), rgb(53, 53, 110), rgb(17, 12, 59));
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    background: linear-gradient(45deg, rgb(103, 37, 78), rgb(53, 53, 110), rgb(17, 12, 59));
    border-bottom: solid 3px rgb(103, 37, 78);
    margin-bottom: 15px;
}

.navbar-toggler{
    background-color: white;
}
.navbar-light .navbar-toggler{
    color: transparent;
}
.navbar-collapse{
    justify-content: center;
}

ul li {
    display: inline-block;
    padding: 40px;
}

.a {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 15px;
    letter-spacing: 7px;
    text-align: center;
}

a:hover {
    color: #ff847c;
}
